# =========================
# Datasets (DO NOT COMMIT)
# =========================
data/
datasets/
cifar-10-batches-py/
cifar-100-python/

# =========================
# Training artifacts
# =========================
__pycache__/
*.pyc
*.pth
*.pt
*.ckpt
*.npy
*.npz
*.pkl
*.h5
wandb/
runs/
checkpoints/

# =========================
# Archives
# =========================
*.zip
*.tar
*.tar.gz

# =========================
# Environment
# =========================
.env

# =========================
# Shell scripts (KEEP)
# =========================
!*.sh

# =========================
# IMPORTANT:
# Allow dataset download scripts
# inside cs231n/datasets folders
# =========================

# Allow Git to enter the datasets directories
!**/cs231n/datasets/

# Allow shell scripts inside them
!**/cs231n/datasets/*.sh
